<p>New List</p>

<p>Mettre un formulaire pour créer une nouvelle liste</p>
 <h3>Create a new list</h3>
        <%= simple_form_for(@list) do |f| %>
          <%= f.input :name, placeholder: 'Classic Movie' %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
